<!doctype html>

<html ng-app="app">
<title>GeekBrains forever))</title>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>

<div class="container" ng-controller="productController">
    <h3>Список товаров</h3>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Наименование товара</td>
            <td>Цена</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeCost(p.id, -1)">-</button>
                {{p.cost}}
                <button class="btn btn-primary" ng-click="changeCost(p.id, 1)">+</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="add" align="center">
        <div class="container_form">
            <h4>Добавить продукт</h4>
                <div>Название продукта</div>
                <input type="text" placeholder="наименование товара" name="title" ng-model="product.title" >
                <div>Цена</div>
                <input type="number" placeholder="стоимость товара" name="cost" ng-model="product.cost"><br>
                <br>
                <button class="btn btn-primary" ng-click = "addProduct(product)" > Добавить </button>
        </div>
    </div>
    <br>
    <h4>Фильтр товаров</h4>
    <form novalidate ng-submit="filterProducts()">
        <input class = "form-control" type ="number" placeholder = "минимальная цена" ng-model="minCost" >
        <input class = "form-control" type ="number" placeholder = "максимальная цена" ng-model="maxCost" >
        <br>
        <button type="submit" class="btn btn-primary">Фильтровать</button>

    </form>
</div>
</body>
</html>