<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>eShop market</title>
</head>
<body>
<table>
    <thead>
    <td>id</td>
    <td>title</td>
    <td>cost</td>
    </thead>
    <tbody>
    <tr th:each="it : ${items}">
        <td>
            <span th:text="${it.id}"></span>
        </td>
        <td>
            <span th:text="${it.title}"></span>
        </td>
        <td>
            <span th:text="${it.cost}"></span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>